@import '../../utils/variables.scss';

.title {
  display: flex;
  text-align: center;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.tiers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 0.5rem;
}

.content{
  display: flex;
  flex-direction: column;
  margin-top: 7.625rem;
  background: $bgSecondary;
  border-radius: 8px 8px 0 0;
}