.header{
  display: flex;
  text-align: center;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.menu-button{
  text-decoration: none;
  background: transparent;
  border: none;
  color: white;
}

.logo{
  width: auto;
  height: auto;
  max-width: 100px;
}